@import 'tailwindcss';

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@utility undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[x-cloak] {
  display: none !important;
}
